{{- if and .personal (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
#!/bin/bash
set -euo pipefail

if [[ -x /opt/homebrew/bin/brew ]]; then
  exit 0
fi

curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | /bin/bash
{{- end }}
