<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.harleyjwilson.hyperkey</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1A888970-50EF-46E6-B990-410CE3E63E7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6420772A-4036-4DE4-9409-C78D741375BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F096896-7AE7-4303-91A4-920901C234C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25777FED-ADAE-4655-8C4F-E7BE9AA0E9F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C3BC859-B431-455A-B816-DC9FEA20E3E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>657AA0A9-4F62-4F7B-A494-CD6DDF0F5773</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3010C214-8AE9-4EBE-ACDD-852AED6FBDB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F7450C5-A892-46C8-9977-4D2153D26C4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31ECAD71-410E-4BF3-94CF-DF5CD8F051BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75A6573E-1973-4062-9409-5549A7678DB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>355427A0-5A76-4841-9148-A028154C9B78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DA92C14-9E6A-4642-AC10-3D49E90C790E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>364207EB-F726-41D9-9719-543FD34D482E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>015A73C5-1326-4807-AF7C-7DFBB7883DEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>660A777A-50C5-4B1D-9BCB-4BA888CFA9D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A69170C-D539-4186-8B7E-554A3421594D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A1FB343-6BB5-4D8D-894A-72FA489B6061</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05B2CF8D-E4A4-46E6-9B49-58292A036F67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91749EE2-E74B-46A0-AA28-7A28F4DB283C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A62B777-D323-403A-957C-8F2452904D28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harley Wilson</string>
	<key>description</key>
	<string>Hyper key configuration</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hyperkey</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1A888970-50EF-46E6-B990-410CE3E63E7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5A69170C-D539-4186-8B7E-554A3421594D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>660A777A-50C5-4B1D-9BCB-4BA888CFA9D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>6420772A-4036-4DE4-9409-C78D741375BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>31ECAD71-410E-4BF3-94CF-DF5CD8F051BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>- {time:short} - {cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1DA92C14-9E6A-4642-AC10-3D49E90C790E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>75A6573E-1973-4062-9409-5549A7678DB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>355427A0-5A76-4841-9148-A028154C9B78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7A1FB343-6BB5-4D8D-894A-72FA489B6061</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Drafts.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>05B2CF8D-E4A4-46E6-9B49-58292A036F67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/The Archive.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>25777FED-ADAE-4655-8C4F-E7BE9AA0E9F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1F096896-7AE7-4303-91A4-920901C234C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Obsidian.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>657AA0A9-4F62-4F7B-A494-CD6DDF0F5773</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2C3BC859-B431-455A-B816-DC9FEA20E3E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iA Writer.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>3A62B777-D323-403A-957C-8F2452904D28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>91749EE2-E74B-46A0-AA28-7A28F4DB283C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Logseq.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>015A73C5-1326-4807-AF7C-7DFBB7883DEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Take Screenshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>8F7450C5-A892-46C8-9977-4D2153D26C4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3010C214-8AE9-4EBE-ACDD-852AED6FBDB9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>364207EB-F726-41D9-9719-543FD34D482E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>015A73C5-1326-4807-AF7C-7DFBB7883DEB</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>05B2CF8D-E4A4-46E6-9B49-58292A036F67</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>1A888970-50EF-46E6-B990-410CE3E63E7D</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1DA92C14-9E6A-4642-AC10-3D49E90C790E</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>1F096896-7AE7-4303-91A4-920901C234C9</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>25777FED-ADAE-4655-8C4F-E7BE9AA0E9F6</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>2C3BC859-B431-455A-B816-DC9FEA20E3E3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>3010C214-8AE9-4EBE-ACDD-852AED6FBDB9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>31ECAD71-410E-4BF3-94CF-DF5CD8F051BF</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>355427A0-5A76-4841-9148-A028154C9B78</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>364207EB-F726-41D9-9719-543FD34D482E</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>3A62B777-D323-403A-957C-8F2452904D28</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>5A69170C-D539-4186-8B7E-554A3421594D</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6420772A-4036-4DE4-9409-C78D741375BC</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>657AA0A9-4F62-4F7B-A494-CD6DDF0F5773</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>660A777A-50C5-4B1D-9BCB-4BA888CFA9D9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>75A6573E-1973-4062-9409-5549A7678DB1</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>7A1FB343-6BB5-4D8D-894A-72FA489B6061</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>8F7450C5-A892-46C8-9977-4D2153D26C4E</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>91749EE2-E74B-46A0-AA28-7A28F4DB283C</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://harleyjwilson.com/</string>
</dict>
</plist>
