<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>729DEAD7-288B-4D7B-B8F2-10083A9B2068</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73C48363-0185-4899-BE75-9903A9FAF4A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73C48363-0185-4899-BE75-9903A9FAF4A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F23B3EF4-27FF-4C34-AF1D-12C6D6E2D9B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F23B3EF4-27FF-4C34-AF1D-12C6D6E2D9B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CB38CC41-4340-4536-80D3-B2A55CFBA1C4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E4B5B123-536B-4772-A086-262575B36181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D1B69610-A324-4F06-A505-98D74200E786</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47AF4966-3675-45A6-B265-62BFD94B4BFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>336B4F05-79D5-4767-B1FD-BC05279EE987</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harley Wilson</string>
	<key>description</key>
	<string>Open up Youtube Subscription List and Watch Later Playlist</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youtube Quick Open</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.youtube.com/feed/subscriptions</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F23B3EF4-27FF-4C34-AF1D-12C6D6E2D9B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>s</string>
						<key>outputlabel</key>
						<string>Subscription</string>
						<key>uid</key>
						<string>CB38CC41-4340-4536-80D3-B2A55CFBA1C4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>h</string>
						<key>outputlabel</key>
						<string>History</string>
						<key>uid</key>
						<string>D1B69610-A324-4F06-A505-98D74200E786</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>w</string>
						<key>outputlabel</key>
						<string>Watch Later</string>
						<key>uid</key>
						<string>336B4F05-79D5-4767-B1FD-BC05279EE987</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Subscription</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>73C48363-0185-4899-BE75-9903A9FAF4A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>yt</string>
				<key>subtext</key>
				<string>Open Either Your Subscriptions or Watch Later</string>
				<key>text</key>
				<string>Youtube Quick Open</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>729DEAD7-288B-4D7B-B8F2-10083A9B2068</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.youtube.com/feed/history</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4B5B123-536B-4772-A086-262575B36181</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.youtube.com/playlist?list=WL</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>47AF4966-3675-45A6-B265-62BFD94B4BFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>47AF4966-3675-45A6-B265-62BFD94B4BFA</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>729DEAD7-288B-4D7B-B8F2-10083A9B2068</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>73C48363-0185-4899-BE75-9903A9FAF4A3</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E4B5B123-536B-4772-A086-262575B36181</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>F23B3EF4-27FF-4C34-AF1D-12C6D6E2D9B6</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
